body {
  font-family: 'Nunito', sans-serif;
  color: #38618C;
}

h2 {
  white-space: pre-line;
  color: #FF5964;
}

h1 {
  font-family: 'Pacifico', cursive;
  white-space: pre-line;
  color: #FF5964;
}
